<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loyalove.water.dao.auth.CustomerDAO">

    <!--查询角色列表-->
    <select id="queryCustomers" resultType="com.loyalove.water.pojo.CustomerPO">
        SELECT
        c.*
        FROM
        `customer` as c
        <include refid="queryCondition"/>
        LIMIT #{pager.recordStart}, #{pager.pageSize}
    </select>

    <!--查询角色数量-->
    <select id="queryCount" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        `customer` as c
        <include refid="queryCondition"/>
    </select>

    <sql id="queryCondition">
        <where>
            <if test="query.name!=null and query.name!=''">
            AND c.name LIKE CONCAT('%',#{query.name},'%')
            </if>
        </where>
    </sql>
</mapper>