<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loyalove.water.dao.auth.UserDAO">
    <!--查询条件 -->
    <select id="queryRoleByUserId" resultType="java.lang.String">
        SELECT
        r.role_name
        FROM
        `user_role` AS ur,
        `role` AS r
        WHERE
        ur.user_id = #{userId}
        AND ur.role_id = r.role_id
    </select>
    <!--删除条件 -->
    <select id="queryPermissionsByUserId" resultType="java.lang.String">
        SELECT
        p.permission_name
        FROM
        `role_permission` AS rp,
        `permission` AS p
        WHERE
        rp.role_id IN (
        SELECT
        ur.role_id
        FROM
        `user_role` AS ur,
        `role` AS r
        WHERE
        ur.user_id = #{userId}
        AND ur.role_id = r.role_id
        )
    </select>

    <select id="queryUsers" resultType="com.loyalove.water.vo.auth.UserVO">
        SELECT
        u.*,
        u1.username AS create_username
        FROM
        `user` AS u,
        `user` AS u1
        <where>
            u.create_user = u1.user_id
            <include refid="queryCondition"/>
        </where>
        ORDER BY u.create_time DESC
        LIMIT #{pager.recordStart}, #{pager.pageSize}
    </select>

    <select id="queryCount" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        `user` AS u
        <where>
            <include refid="queryCondition"/>
        </where>
    </select>

    <sql id="queryCondition">
        <if test="query.username!=null and query.username!=''">
            AND u.username LIKE CONCAT('%',#{query.username},'%')
        </if>
    </sql>
</mapper>