.admin-main {
    margin: 15px 15px;
}

.admin-main .layui-field-title .layui-field-box {
    padding: 10px 30px;
}

.admin-main .layui-field-title .layui-field-box p {
    padding: 5px 0;
}

.layui-form-item:last-child {
    margin-bottom: 0;
}

.layui-table-tr-checked {
    background-color: #EEE !important;
}

.layui-layer .layui-layer-content {
    padding: 15px;
}

.layui-btn + .layui-btn {
    margin-left: 0;
}

.layui-box-scroll{
    max-width: 100%;
    overflow-x: auto;
}