<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loyalove.water.dao.firm.FirmDAO">

    <!--查询厂商列表-->
    <select id="queryFirms" resultType="com.loyalove.water.vo.customer.FirmVO">
        SELECT
        f.*,
        u.username AS create_username
        FROM
        `firm` as f,
        `user` as u
        <where>
            f.create_user = u.user_id
            <include refid="queryCondition"/>
        </where>
        LIMIT #{pager.recordStart}, #{pager.pageSize}
    </select>

    <!--查询厂商数量-->
    <select id="queryCount" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        `firm` as f
        <where>
            <include refid="queryCondition"/>
        </where>
    </select>

    <sql id="queryCondition">
        <if test="query.name!=null and query.name!=''">
            AND f.firm_name LIKE CONCAT('%',#{query.name},'%')
        </if>
    </sql>
</mapper>